In [8]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data=pd.read_excel('./sdr/SDR 2021 - Database.xlsx',sheet_name='Data for Trends')

In [3]:
data.head()

,id,Country,Year,Population,sdg1_wpc,sdg1_320pov,sdg1_oecdpov,sdg2_undernsh,sdg2_stuntihme,sdg2_wasteihme,...,sdg16_safe,sdg16_prs,sdg16_cpi,sdg16_rsf,sdg16_justice,sdg16_prison,sdg17_govex,sdg17_oda,sdg17_govrev,sdg17_statperf
0,AFG,Afghanistan,2000,20779957.0,NaN,NaN,NaN,NaN,53.55,8.308,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,2001,21606992.0,NaN,NaN,NaN,47.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,2002,22600774.0,NaN,NaN,NaN,45.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,2003,23680871.0,NaN,NaN,NaN,40.7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,2004,24726689.0,NaN,NaN,NaN,38.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data_year=data[(data['Year']>=2016) & (data['Year']<=2021)]

In [5]:
data_year['id'].value_counts()

TLS    6
NLD    6
PLW    6
KWT    6
BGD    6
      ..
LKA    6
LCA    6
MKD    6
SLE    6
SSD    6
Name: id, Length: 193, dtype: int64

In [6]:
data_year=data_year.drop(['Country','Population'],axis=1)

In [7]:
data_pivot=data_year.pivot_table(index=['id','Year'])

In [8]:
data_pivot

          sdg10_adjgini  sdg10_elder  sdg10_palma  sdg11_pipedwat  sdg11_pm25  \
id  Year
AFG 2016            NaN          NaN          NaN          43.332      56.506
    2017            NaN          NaN          NaN          45.101      57.273
    2018            NaN          NaN          NaN             NaN      56.112
    2019            NaN          NaN          NaN             NaN      54.950
    2020            NaN          NaN          NaN             NaN         NaN
...                 ...          ...          ...             ...         ...
ZWE 2016            NaN          NaN          NaN          75.633      21.920
    2017            NaN          NaN          NaN          74.423      21.769
    2018            NaN          NaN          NaN             NaN      21.551
    2019            NaN          NaN          NaN             NaN      21.333
    2020            NaN          NaN          NaN             NaN         NaN

          sdg11_rentover  sdg11_slums  sdg11_transport  sdg13_co2gcp  \
id  Year
AFG 2016             NaN         71.3             54.0         0.191
    2017             NaN          NaN             48.0         0.189
    2018             NaN         70.7             45.0         0.281
    2019             NaN          NaN             36.0         0.282
    2020             NaN          NaN              NaN           NaN
...                  ...          ...              ...           ...
ZWE 2016             NaN         28.3             69.0         0.771
    2017             NaN          NaN             69.0         0.720
    2018             NaN         33.5             78.0         0.785
    2019             NaN          NaN             28.0         0.708
    2020             NaN          NaN             32.0           NaN

          sdg13_ecr  ...  sdg8_yneet  sdg9_articles  sdg9_intuse  sdg9_lpi  \
id  Year             ...
AFG 2016        NaN  ...         NaN          0.002       11.200     1.835
    2017        NaN  ...         NaN          0.003       13.500       NaN
    2018        NaN  ...         NaN          0.003       13.500     1.807
    2019        NaN  ...         NaN            NaN       13.500       NaN
    2020        NaN  ...         NaN            NaN          NaN       NaN
...             ...  ...         ...            ...          ...       ...
ZWE 2016        NaN  ...         NaN          0.022       23.120     2.214
    2017        NaN  ...         NaN          0.024       27.055       NaN
    2018        NaN  ...         NaN          0.025       27.055     1.833
    2019        NaN  ...         NaN            NaN       27.055       NaN
    2020        NaN  ...         NaN            NaN          NaN       NaN

          sdg9_mobuse  sdg9_netacc  sdg9_patents  sdg9_rdex  sdg9_rdres  \
id  Year
AFG 2016       13.197          NaN           NaN        NaN         NaN
    2017       15.705          NaN           NaN        NaN         NaN
    2018       18.824          NaN           NaN        NaN         NaN
    2019       19.215          NaN           NaN        NaN         NaN
    2020          NaN          NaN           NaN        NaN         NaN
...               ...          ...           ...        ...         ...
ZWE 2016       47.915          NaN           NaN        NaN         NaN
    2017       47.935          NaN           NaN        NaN         NaN
    2018       51.668          NaN           NaN        NaN         NaN
    2019       51.687          NaN           NaN        NaN         NaN
    2020          NaN          NaN           NaN        NaN         NaN

          sdg9_womensci
id  Year
AFG 2016            NaN
    2017            NaN
    2018            NaN
    2019            NaN
    2020            NaN
...                 ...
ZWE 2016            NaN
    2017            NaN
    2018            NaN
    2019            NaN
    2020            NaN

[1126 rows x 86 columns]

In [9]:
score_2016=pd.read_excel('./sdr/2016GlobalIndexResults.xlsx')
score_2016

,ID,UNCode,CountryName,SDGI_Rank,SDGI_Score,GeometricRank,GeometricScore,UNReg,UnRegSub,SDGIRegion,...,SDG16_CPI,SDG16_GOVEFF,SDG16_HOMICIDE,SDG16_PRISON,SDG16_PRS,SDG16_SAFE,SDG16_U5REG,SDG17_GOVREV,SDG17_GOVSPD,SDG17_ODA
0,SWE,752,Sweden,1,84.529419,1,83.671783,Europe,Northern Europe,OECD,...,89.0,4.957011,0.7,67,5.928058,76.823174,100.0,NaN,19.935936,1.405
1,DNK,208,Denmark,2,83.876137,2,83.073799,Europe,Northern Europe,OECD,...,91.0,4.202774,0.8,73,5.735806,85.200456,100.0,NaN,22.353109,0.847
2,NOR,578,Norway,3,82.314545,3,81.119957,Europe,Northern Europe,OECD,...,87.0,5.096433,2.2,72,5.988532,89.631023,100.0,NaN,17.780592,1.046
3,FIN,246,Finland,4,80.997849,5,79.786194,Europe,Northern Europe,OECD,...,90.0,5.320378,1.6,58,6.423801,85.771687,100.0,NaN,19.708431,0.560
4,CHE,756,Switzerland,5,80.873856,4,80.243996,Europe,Western Europe,OECD,...,86.0,5.273190,0.6,82,6.334344,87.426698,100.0,NaN,19.613621,0.523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,TCD,148,Chad,145,31.790310,140,22.168308,Africa,Middle Africa,Africa,...,22.0,2.796261,7.3,41,2.933914,46.722144,15.7,20.809,5.814736,NaN
145,NER,562,Niger,146,31.424807,146,16.994833,Africa,Western Africa,Africa,...,34.0,NaN,4.7,42,NaN,83.330858,63.9,25.206,10.985412,NaN
146,COD,180,"Congo, Dem. Rep.",147,31.291214,145,17.481417,Africa,Middle Africa,Africa,...,22.0,NaN,28.3,33,NaN,42.857500,27.8,15.779,5.239997,NaN
147,LBR,430,Liberia,148,30.489857,147,12.046983,Africa,Western Africa,Africa,...,37.0,3.904567,3.2,46,4.400000,47.928478,3.6,28.118,12.846760,NaN
148,CAF,140,Central African Republic,149,26.102402,149,3.386679,Africa,Middle Africa,Africa,...,24.0,NaN,11.8,19,NaN,59.595211,61.0,8.364,5.146152,NaN

In [10]:
score_2016=score_2016[['ID','SDGI_Score']]

In [11]:
score_2016

      ID  SDGI_Score
0    SWE   84.529419
1    DNK   83.876137
2    NOR   82.314545
3    FIN   80.997849
4    CHE   80.873856
..   ...         ...
144  TCD   31.790310
145  NER   31.424807
146  COD   31.291214
147  LBR   30.489857
148  CAF   26.102402

[149 rows x 2 columns]

In [12]:
score_2017=pd.read_excel('./sdr/2017GlobalIndexResults.xlsx')

In [13]:
score_2017

,country,ISO3,UN 3-digit code,Global Index Score (0-100),Global Index Rank,Average score of spillover effects (0-100),Number of values missing,Regions used for the SDG Index & Dashboard,UN region name,UN sub-region name,...,Average score on SDG8,Average score on SDG9,Average score on SDG10,Average score on SDG11,Average score on SDG12,Average score on SDG13,Average score on SDG14,Average score on SDG15,Average score on SDG16,Average score on SDG17
0,Afghanistan,AFG,4,46.811607,150,93.340904,8,Europe & C. Asia,Asia,Southern Asia,...,32.215218,1.799845,93.5978,38.731819,82.073906,87.292320,n.d.,37.941803,51.607609,56.967537
1,Angola,AGO,24,50.184246,136,97.659805,5,Africa,Africa,Middle Africa,...,50.472847,9.706733,50.8397,49.453621,80.602608,90.844109,38.5396,63.014896,41.996750,53.217720
2,Albania,ALB,8,68.902557,63,89.118950,2,Europe & C. Asia,Europe,Southern Europe,...,56.898994,24.606424,90.2734,85.961433,72.757202,68.174812,46.2532,76.145073,62.479225,62.075768
3,United Arab Emirates,ARE,784,66.006714,77,47.264496,8,MENA,Asia,Western Asia,...,84.483170,61.827969,n.d.,30.731102,44.511421,47.990856,48.0177,29.490805,85.166649,100.000000
4,Argentina,ARG,32,72.452278,41,97.802727,2,LAC,LAC,South America,...,71.695251,40.510197,50.983,94.832603,69.855797,85.573059,55.5398,52.431927,51.740391,66.082329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Vietnam,VNM,704,67.892799,68,94.028862,2,East & South Asia,Asia,South-Eastern Asia,...,60.827351,24.940613,65.5414,66.385353,71.224365,73.355499,51.8403,46.589516,65.583633,71.383904
153,"Yemen, Rep.",YEM,887,49.803539,140,90.769691,8,MENA,Asia,Western Asia,...,37.657597,6.489268,65.2261,57.372986,71.947319,94.999191,52.9095,46.226307,43.075409,100.000000
154,South Africa,ZAF,710,61.245941,108,96.168510,2,Africa,Africa,Southern Africa,...,37.502998,45.060905,0,81.573853,63.091434,79.422569,66.9373,44.367531,52.287117,83.054123
155,Zambia,ZMB,894,51.075317,134,98.892235,1,Africa,Africa,Eastern Africa,...,36.443981,12.261642,13.8706,55.415024,76.296532,79.997536,n.d.,68.941391,50.683487,75.597443
156,Zimbabwe,ZWE,716,56.114002,121,93.634262,5,Africa,Africa,Eastern Africa,...,43.934334,15.835508,49.6074,77.581421,74.685753,79.948189,n.d.,67.045647,44.468151,60.573708

In [14]:
score_2017=score_2017[['ISO3','Global Index Score (0-100)']]

In [15]:
score_2017

    ISO3  Global Index Score (0-100)
0    AFG                   46.811607
1    AGO                   50.184246
2    ALB                   68.902557
3    ARE                   66.006714
4    ARG                   72.452278
..   ...                         ...
152  VNM                   67.892799
153  YEM                   49.803539
154  ZAF                   61.245941
155  ZMB                   51.075317
156  ZWE                   56.114002

[157 rows x 2 columns]

In [16]:
score_2018=pd.read_excel('./sdr/2018GlobalIndexResults.xlsx')

In [17]:
score_2018=score_2018[['id','Global Index Score (0-100): 2018 version']]

In [18]:
score_2019=pd.read_excel('./sdr/2019GlobalIndexResults.xlsx',sheet_name='SDR2019 Data')

In [19]:
score_2019.columns

Index(['Country', 'id', '2019 Global Index Score (0-100)',
       '2019 Global Index Rank', 'Percentage missing values',
       'Regional Score (0-100)', 'Spillover Score (0-100)', 'UN region name',
       'Regions used for the SDG Index & Dashboard', 'Income Group in 2019',
       ...
       'Goal 8 Regional Score', 'Goal 9 Regional Score',
       'Goal 10 Regional Score', 'Goal 11 Regional Score',
       'Goal 12 Regional Score', 'Goal 13 Regional Score',
       'Goal 14 Regional Score', 'Goal 15 Regional Score',
       'Goal 16 Regional Score', 'Goal 17 Regional Score'],
      dtype='object', length=486)

In [20]:
score_2019=score_2019[['id','2019 Global Index Score (0-100)']]

In [21]:
score_2019

      id  2019 Global Index Score (0-100)
0    AFG                        49.649156
1    AGO                        51.320358
2    ALB                        70.272647
3    AND                              NaN
4    ARE                        69.708919
..   ...                              ...
188  WSM                              NaN
189  YEM                        53.702073
190  ZAF                        61.480933
191  ZMB                        52.615084
192  ZWE                        59.673524

[193 rows x 2 columns]

In [22]:
score_2020=pd.read_excel('./sdr/SDR2020Database (2).xlsx',sheet_name='SDR2020 Data')

In [23]:
score_2020=score_2020[['id','2020 SDG Index Score']]

In [24]:
score_2020

        id  2020 SDG Index Score
0      SWE             84.724063
1      DNK             84.558776
2      FIN             83.772759
3      FRA             81.128541
4      DEU             80.774386
..     ...                   ...
199  _OECD             77.304991
200   _LIC             52.468608
201  _LMIC             61.648237
202  _UMIC             73.240621
203   _HIC             77.733634

[204 rows x 2 columns]

In [25]:
score_2016['Year']=2016
score_2016

<ipython-input-25-a8c637cd794f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_2016['Year']=2016

      ID  SDGI_Score  Year
0    SWE   84.529419  2016
1    DNK   83.876137  2016
2    NOR   82.314545  2016
3    FIN   80.997849  2016
4    CHE   80.873856  2016
..   ...         ...   ...
144  TCD   31.790310  2016
145  NER   31.424807  2016
146  COD   31.291214  2016
147  LBR   30.489857  2016
148  CAF   26.102402  2016

[149 rows x 3 columns]

In [26]:
score_2017['Year']=2017

<ipython-input-26-ecd8cd326088>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_2017['Year']=2017

In [27]:
score_2017

    ISO3  Global Index Score (0-100)  Year
0    AFG                   46.811607  2017
1    AGO                   50.184246  2017
2    ALB                   68.902557  2017
3    ARE                   66.006714  2017
4    ARG                   72.452278  2017
..   ...                         ...   ...
152  VNM                   67.892799  2017
153  YEM                   49.803539  2017
154  ZAF                   61.245941  2017
155  ZMB                   51.075317  2017
156  ZWE                   56.114002  2017

[157 rows x 3 columns]

In [28]:
score_2018['Year']=2018

In [29]:
score_2018

      id  Global Index Score (0-100): 2018 version  Year
0    AFG                                 46.238884  2018
1    ALB                                 68.907867  2018
2    DZA                                 67.880407  2018
3    AND                                       NaN  2018
4    AGO                                 49.556541  2018
..   ...                                       ...   ...
188  VEN                                 64.000581  2018
189  VNM                                 69.669595  2018
190  YEM                                 45.657508  2018
191  ZMB                                 53.128743  2018
192  ZWE                                 58.760057  2018

[193 rows x 3 columns]

In [30]:
score_2019['Year']=2019

In [31]:
score_2020['Year']=2020

In [32]:
score_2020

        id  2020 SDG Index Score  Year
0      SWE             84.724063  2020
1      DNK             84.558776  2020
2      FIN             83.772759  2020
3      FRA             81.128541  2020
4      DEU             80.774386  2020
..     ...                   ...   ...
199  _OECD             77.304991  2020
200   _LIC             52.468608  2020
201  _LMIC             61.648237  2020
202  _UMIC             73.240621  2020
203   _HIC             77.733634  2020

[204 rows x 3 columns]

In [33]:
score_2016.columns=['id','score','Year']

In [34]:
score_2016

      id      score  Year
0    SWE  84.529419  2016
1    DNK  83.876137  2016
2    NOR  82.314545  2016
3    FIN  80.997849  2016
4    CHE  80.873856  2016
..   ...        ...   ...
144  TCD  31.790310  2016
145  NER  31.424807  2016
146  COD  31.291214  2016
147  LBR  30.489857  2016
148  CAF  26.102402  2016

[149 rows x 3 columns]

In [35]:
data_2016=pd.merge(data_pivot,score_2016,how='left',on=['id','Year'])

In [36]:
score_2017.columns=['id','score','Year']

In [37]:
data_2017=pd.merge(data_2016,score_2017,how='left',on=['id','Year'])

In [38]:
score_x=data_2017['score_x'].fillna(data_2017['score_y'])

In [39]:
data_2017['score_x']=score_x

In [40]:
data_2017=data_2017.drop('score_y',axis=1)

In [41]:
data_2017

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score_x
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
1122,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
1123,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,NaN
1124,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,NaN
1125,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
score_2018

      id  Global Index Score (0-100): 2018 version  Year
0    AFG                                 46.238884  2018
1    ALB                                 68.907867  2018
2    DZA                                 67.880407  2018
3    AND                                       NaN  2018
4    AGO                                 49.556541  2018
..   ...                                       ...   ...
188  VEN                                 64.000581  2018
189  VNM                                 69.669595  2018
190  YEM                                 45.657508  2018
191  ZMB                                 53.128743  2018
192  ZWE                                 58.760057  2018

[193 rows x 3 columns]

In [43]:
score_2018.columns=['id','score','Year']

In [44]:
score_2018

      id      score  Year
0    AFG  46.238884  2018
1    ALB  68.907867  2018
2    DZA  67.880407  2018
3    AND        NaN  2018
4    AGO  49.556541  2018
..   ...        ...   ...
188  VEN  64.000581  2018
189  VNM  69.669595  2018
190  YEM  45.657508  2018
191  ZMB  53.128743  2018
192  ZWE  58.760057  2018

[193 rows x 3 columns]

In [45]:
data_2018=pd.merge(data_2017,score_2018,how='left',on=['id','Year'])

In [46]:
data_2018

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score_x,score
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845,NaN
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607,NaN
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514,NaN
1122,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002,NaN
1123,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,NaN,58.760057
1124,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
score=data_2018['score_x'].fillna(data_2018['score'])

In [48]:
data_2018['score_x']=score
data_2018=data_2018.drop('score',axis=1)

In [49]:
data_2018

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score_x
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
1122,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
1123,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,58.760057
1124,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,NaN
1125,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
score_2019.columns=['id','score','Year']

In [51]:
score_2019

      id      score  Year
0    AFG  49.649156  2019
1    AGO  51.320358  2019
2    ALB  70.272647  2019
3    AND        NaN  2019
4    ARE  69.708919  2019
..   ...        ...   ...
188  WSM        NaN  2019
189  YEM  53.702073  2019
190  ZAF  61.480933  2019
191  ZMB  52.615084  2019
192  ZWE  59.673524  2019

[193 rows x 3 columns]

In [52]:
data_2019=pd.merge(data_2018,score_2019,how='left',on=['id','Year'])

In [53]:
score=data_2019['score_x'].fillna(data_2019['score'])

In [54]:
data_2019['score_x']=score
data_2019=data_2019.drop('score',axis=1)

In [55]:
data_2019

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score_x
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,49.649156
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
1122,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
1123,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,58.760057
1124,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,59.673524
1125,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
score_2020.columns=['id','score','Year']

In [57]:
data_2020=pd.merge(data_2019,score_2020,how='left',on=['id','Year'])

In [58]:
score=data_2020['score_x'].fillna(data_2020['score'])

In [59]:
data_2020['score_x']=score
data_2020=data_2020.drop('score',axis=1)

In [60]:
data_2020

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score_x
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,49.649156
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.224206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
1122,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
1123,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,58.760057
1124,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,59.673524
1125,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.507829

In [61]:
data_2020.score_x.rename('score',inplace=True)

0       36.504845
1       46.811607
2       46.238884
3       49.649156
4       54.224206
          ...
1121    48.627514
1122    56.114002
1123    58.760057
1124    59.673524
1125    59.507829
Name: score, Length: 1126, dtype: float64

In [62]:
data_2020

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score_x
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,49.649156
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.224206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
1122,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
1123,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,58.760057
1124,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,59.673524
1125,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.507829

In [63]:
data_2020=data_2020.rename(columns={'score_x':'score'})

In [64]:
data_2020['score'].isna().sum()

336

In [65]:
data_2020.shape

(1126, 89)

In [66]:
data_labels=data_2020[data_2020.score.notnull()]

In [71]:
data_labels

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,49.649156
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.224206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
1122,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
1123,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,58.760057
1124,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,59.673524
1125,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.507829

In [74]:
data_labels.to_csv('./data_wlabels.csv',header=True,index=False)

In [75]:
pd.read_csv('./data_wlabels.csv')

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,49.649156
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.224206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
786,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
787,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,58.760057
788,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,59.673524
789,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.507829

In [84]:
tmp=data_labels.set_index('id').isna().sum(level=0).drop(['Year','score'],axis=1)
tmp.shape

(167, 86)

In [87]:
5*86

430

In [91]:
tmp['null_count']=tmp.sum(axis=1)

In [93]:
tmp=tmp['null_count']

In [99]:
null_percentage=tmp/430

In [100]:
null_percentage.to_csv('./null_percentage.csv')

In [101]:
pd.read_csv('./null_percentage.csv')

      id  null_count
0    AFG    0.641860
1    AGO    0.616279
2    ALB    0.558140
3    ARE    0.625581
4    ARG    0.567442
..   ...         ...
162  VUT    0.323256
163  YEM    0.655814
164  ZAF    0.560465
165  ZMB    0.606977
166  ZWE    0.637209

[167 rows x 2 columns]

In [103]:
data=data_labels.copy()

In [107]:
data['id+year']=data['id']+data['Year'].astype(str)

In [110]:
data=data.drop(['id','Year'],axis=1)

In [112]:
from sklearn.ensemble import RandomForestRegressor

In [114]:
X=data.drop(['score','id+year'],axis=1)

In [116]:
y=data['score']

In [117]:
from sklearn.model_selection import train_test_split

In [118]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [119]:
X_train

,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,sdg13_co2gcp,sdg13_ecr,...,sdg8_yneet,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci
1053,NaN,NaN,NaN,NaN,19.476,NaN,19.0,60.0,5.236,NaN,...,NaN,0.235,58.890,2.221,47.156,NaN,NaN,0.471,NaN,NaN
453,NaN,NaN,NaN,NaN,90.619,NaN,NaN,74.0,1.914,NaN,...,NaN,NaN,34.450,NaN,47.043,NaN,NaN,NaN,NaN,NaN
720,NaN,NaN,NaN,98.878,15.679,NaN,NaN,NaN,8.001,NaN,...,NaN,0.716,80.141,NaN,113.348,NaN,NaN,NaN,NaN,NaN
135,NaN,NaN,NaN,NaN,12.259,NaN,16.3,48.0,2.228,NaN,...,NaN,0.287,67.471,2.927,88.113,NaN,NaN,NaN,NaN,NaN
529,NaN,NaN,NaN,77.277,25.219,NaN,NaN,70.0,0.699,NaN,...,NaN,0.008,32.447,NaN,66.855,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,NaN,NaN,NaN,95.935,22.548,NaN,NaN,73.0,2.453,NaN,...,NaN,0.137,59.706,NaN,65.059,NaN,NaN,0.291,NaN,NaN
469,NaN,NaN,NaN,84.496,62.164,NaN,NaN,57.0,5.558,NaN,...,NaN,0.060,49.360,NaN,33.470,NaN,NaN,0.045,NaN,NaN
441,NaN,NaN,NaN,NaN,15.141,8.179,NaN,63.0,5.070,NaN,...,13.304,NaN,80.372,NaN,71.892,50.482,NaN,NaN,NaN,NaN
903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,NaN,NaN,NaN,81.878,38.769,NaN,NaN,50.0,3.670,NaN,...,NaN,0.112,42.946,2.577,65.792,NaN,NaN,NaN,NaN,NaN

In [120]:
X_test

,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,sdg13_co2gcp,sdg13_ecr,...,sdg8_yneet,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci
186,NaN,NaN,NaN,91.908,52.268,NaN,NaN,NaN,6.755,NaN,...,NaN,0.310,53.200,3.752,68.849,NaN,NaN,2.118,NaN,NaN
489,NaN,NaN,NaN,NaN,15.818,NaN,NaN,34.0,5.567,NaN,...,23.67,NaN,74.387,NaN,92.199,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,87.888,21.416,NaN,NaN,68.0,1.949,NaN,...,NaN,0.008,43.832,NaN,75.522,NaN,NaN,NaN,NaN,NaN
1058,NaN,NaN,NaN,100.000,9.122,NaN,NaN,58.0,1.796,NaN,...,NaN,0.229,68.280,NaN,97.804,NaN,NaN,0.484,NaN,NaN
502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,NaN,NaN,NaN,99.572,17.912,NaN,NaN,66.0,4.302,NaN,...,NaN,0.943,72.697,2.990,77.301,NaN,NaN,0.863,NaN,NaN
187,NaN,NaN,NaN,92.222,52.692,NaN,NaN,72.0,6.862,NaN,...,NaN,0.333,54.300,NaN,82.877,NaN,NaN,2.145,NaN,NaN
76,NaN,NaN,NaN,54.164,38.372,NaN,NaN,41.0,0.664,NaN,...,NaN,0.019,20.000,NaN,12.046,NaN,NaN,NaN,NaN,NaN

In [136]:
import xgboost as xgboost

In [137]:
xgb=xgboost.XGBRegressor()

In [138]:
xgb.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [139]:
y_train_pred=xgb.predict(X_train)

In [140]:
from sklearn.metrics import mean_absolute_error

In [141]:
mean_absolute_error(y_train,y_train_pred)

0.028127216417532824

In [142]:
y_test_pred=xgb.predict(X_test)

In [143]:
mean_absolute_error(y_test,y_test_pred)

2.2053274310746835

In [144]:
xgb.cv

AttributeError: 'XGBRegressor' object has no attribute 'cv'

In [ ]:
ada=AdaBoostRegressor()

In [145]:
xgb.cv

<function xgboost.training.cv(params, dtrain, num_boost_round=10, nfold=3, stratified=False, folds=None, metrics=(), obj=None, feval=None, maximize=None, early_stopping_rounds=None, fpreproc=None, as_pandas=True, verbose_eval=None, show_stdv=True, seed=0, callbacks=None, shuffle=True)>

In [146]:
a

NameError: name 'a' is not defined

In [3]:
data=pd.read_csv('./data_wlabels.csv')

In [13]:
check=data.isna().sum()/790

In [18]:
len(check[check.values>0.4])

60

In [16]:
check

id               0.000000
Year             0.000000
sdg10_adjgini    0.991139
sdg10_elder      0.894937
sdg10_palma      0.893671
                   ...
sdg9_patents     0.859494
sdg9_rdex        0.697468
sdg9_rdres       0.883544
sdg9_womensci    0.930380
score            0.000000
Length: 89, dtype: float64

In [8]:
data.sdg11_pipedwat.value_counts()

100.000    39
77.049      2
99.600      2
95.799      2
86.806      2
           ..
99.296      1
37.080      1
79.704      1
20.731      1
92.574      1
Name: sdg11_pipedwat, Length: 208, dtype: int64

In [20]:
sorted(data.isna().sum(axis=1)/89)

[0.19101123595505617,
 0.19101123595505617,
 0.20224719101123595,
 0.20224719101123595,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.21348314606741572,
 0.2247191011235955,
 0.2247191011235955,
 0.2247191011235955,
 0.2247191011235955,
 0.2247191011235955,
 0.2247191011235955,
 0.2247191011235955,
 0.2247191011235955,
 0.2247191011235955,
 0.23595505617977527,
 0.23595505617977527,
 0.23595505617977527,
 0.23595505617977527,
 0.23595505617977527,
 0.23595505617977527,
 0.23595505617977527,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.24719101123595505,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.25842696629213485,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2696629213483146,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.2808988764044944,
 0.29213483146067415,
 0.29213483146067415,
 0.29213483146067415,
 0.29213483146067415,
 0.29213483146067415,
 0.29213483146067415,
 0.29213483146067415,
 0.29213483146067415,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.30337078651685395,
 0.3146067415730337,
 0.3146067415730337,
 0.3146067415730337,
 0.3258426966292135,
 0.3258426966292135,
 0.3258426966292135,
 0.33707865168539325,
 0.33707865168539325,
 0.34831460674157305,
 0.34831460674157305,
 0.34831460674157305,
 0.34831460674157305,
 0.3595505617977528,
 0.3595505617977528,
 0.38202247191011235,
 0.38202247191011235,
 0.38202247191011235,
 0.38202247191011235,
 0.39325842696629215,
 0.39325842696629215,
 0.39325842696629215,
 0.39325842696629215,
 0.39325842696629215,
 0.39325842696629215,
 0.39325842696629215,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4044943820224719,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.4157303370786517,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.42696629213483145,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.43820224719101125,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.449438202247191,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.4606741573033708,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.47191011235955055,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.48314606741573035,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.4943820224719101,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5056179775280899,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5168539325842697,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5280898876404494,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.5393258426966292,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.550561797752809,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5617977528089888,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5730337078651685,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5842696629213483,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.5955056179775281,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6067415730337079,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6179775280898876,
 0.6292134831460674,
 0.6292134831460674,
 0.6292134831460674,
 0.6292134831460674,
 0.6292134831460674,
 0.6292134831460674,
 0.6292134831460674,
 0.6292134831460674,
 0.6292134831460674,
 0.6404494382022472,
 0.6404494382022472,
 0.6404494382022472,
 0.6404494382022472,
 0.6404494382022472,
 0.6404494382022472,
 0.6404494382022472,
 0.6404494382022472,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.651685393258427,
 0.6629213483146067,
 0.6629213483146067,
 0.6629213483146067,
 0.6741573033707865,
 0.6741573033707865,
 0.6741573033707865,
 0.6741573033707865,
 0.6853932584269663,
 0.6853932584269663,
 0.6853932584269663,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8089887640449438,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8202247191011236,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8314606741573034,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8426966292134831,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8539325842696629,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8651685393258427,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8764044943820225,
 0.8876404494382022,
 0.8876404494382022,
 0.8876404494382022]

In [14]:
data.shape

(790, 89)

In [22]:
data.id.value_counts()

JOR    5
JAM    5
MDA    5
EST    5
SDN    5
      ..
FJI    2
SOM    1
SSD    1
TLS    1
BRN    1
Name: id, Length: 167, dtype: int64

In [25]:
sorted(data[data.Year==2020].isna().sum(axis=1)/90)

[0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8111111111111111,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8222222222222222,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8333333333333334,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8444444444444444,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8555555555555555,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8666666666666667,
 0.8777777777777778,
 0.8777777777777778,
 0.8777777777777778]

In [2]:
data=pd.read_csv('data_wlabels.csv')

In [3]:
data

,id,Year,sdg10_adjgini,sdg10_elder,sdg10_palma,sdg11_pipedwat,sdg11_pm25,sdg11_rentover,sdg11_slums,sdg11_transport,...,sdg9_articles,sdg9_intuse,sdg9_lpi,sdg9_mobuse,sdg9_netacc,sdg9_patents,sdg9_rdex,sdg9_rdres,sdg9_womensci,score
0,AFG,2016,NaN,NaN,NaN,43.332,56.506,NaN,71.3,54.0,...,0.002,11.200,1.835,13.197,NaN,NaN,NaN,NaN,NaN,36.504845
1,AFG,2017,NaN,NaN,NaN,45.101,57.273,NaN,NaN,48.0,...,0.003,13.500,NaN,15.705,NaN,NaN,NaN,NaN,NaN,46.811607
2,AFG,2018,NaN,NaN,NaN,NaN,56.112,NaN,70.7,45.0,...,0.003,13.500,1.807,18.824,NaN,NaN,NaN,NaN,NaN,46.238884
3,AFG,2019,NaN,NaN,NaN,NaN,54.950,NaN,NaN,36.0,...,NaN,13.500,NaN,19.215,NaN,NaN,NaN,NaN,NaN,49.649156
4,AFG,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54.224206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,ZWE,2016,NaN,NaN,NaN,75.633,21.920,NaN,28.3,69.0,...,0.022,23.120,2.214,47.915,NaN,NaN,NaN,NaN,NaN,48.627514
786,ZWE,2017,NaN,NaN,NaN,74.423,21.769,NaN,NaN,69.0,...,0.024,27.055,NaN,47.935,NaN,NaN,NaN,NaN,NaN,56.114002
787,ZWE,2018,NaN,NaN,NaN,NaN,21.551,NaN,33.5,78.0,...,0.025,27.055,1.833,51.668,NaN,NaN,NaN,NaN,NaN,58.760057
788,ZWE,2019,NaN,NaN,NaN,NaN,21.333,NaN,NaN,28.0,...,NaN,27.055,NaN,51.687,NaN,NaN,NaN,NaN,NaN,59.673524
789,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.507829

In [ ]:
from sklearn.externals import tabne